section.home-list .row{
    gap: 30px 0%;
}
section.home-list .how-we-value-heading span{
    font-size: var(--f14);
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--white-color);
    background: var(--heading-color);
    border-radius: 50px;
    padding: 4px 18px;
}
section.home-list .view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--m10);
}
section.home-list .view .forward{
    background: var(--white-color);
    padding: var(--p10);
    box-shadow: 2.5px 4.33px 18px 0px rgb(0 0 0 / 10%);
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-align: center;
}
section.home-list .view i{
    margin-right: 0;
}


section.home-list .col-4{
    /* width: 32%; */
}
section.home-list .pro{
    display:flex;
    justify-content:center;
    margin-top: var(--m30);
}
section.home-list img.img-fluid {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
   border-radius: 15px 15px 0 0;
}
section.home-list .pro-img:hover img{
    transform: scale(1.14);
}
section.home-list .pro-img a::before{
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    position: absolute;
    top: 15px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: calc(100% - 66px);
    left: 33px;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
section.home-list .pro-img a::after{
    content: "";
    position: absolute;
    top: 8px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: calc(100% - 16px);
    left: 8px;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


section.home-list .pro-img a{
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    border-radius: 15px 15px 0 0;
    display: block;
 
}
section.home-list .pro-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--p60) var(--p25) var(--p25) var(--p25);
    background: var(--white-color);
    border-radius: 0 0 12px 12px;
    margin-top: -40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
section.home-list .pro-cont p{
    /* font-size: var(--f15); */
    /* border-bottom: 1px solid #E6E8EC; */
    overflow: hidden;
    max-height: 100px;
    /* padding-bottom: 20px; */
}

section.home-list .rating i {
    color: #E3E3E3;
    margin-right: var(--m3);
    font-size:var(--f14);
}
section.home-list .rating i.checked {
    color: #FCAF3D;
}
section.home-list .rating span{
    color: var(--black-color);
    font-weight: 600;
    font-size: var(--f13);
}
section.home-list h3.title {
    font-size: var(--f18);
    line-height: 1.2;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: var(--m11);
    height: 22px;
    max-height: 46px;
    overflow: hidden;
    width: 100%;
}
section.home-list h3.title a{
    color: var(--black-color);
}
section.home-list p.adr {
    /* font-size: var(--f16); */
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: var(--m15);
    line-height: 1.5;
    height: auto;
    overflow: hidden;
    border-bottom: none;
}
section.home-list .amn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E6E8EC;
    padding-top: 15px;
}
section.home-list ul {
    margin: 0 0 0;
    padding: 0;
    /* background-color: #f2f2f2; */
    font-size: var(--f14);
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
section.home-list i {
    color: var(--btn-color);
    margin-right: 10px;
}
section.home-list ul li{
    font-size: var(--f14);
    color: #777E90;
    font-weight: 500;
    /* display: flex; */
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}
section.home-list ul.last li{
    color: var(--other-color);
}
section.home-list h5{
    font-size: var(--f14);
    color: #8CC63F;
    font-weight: 500;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
    border-radius: 30px;
    right: 0;
    z-index: 1;
    font-family: var(--primary-font);
}
section.home-list .pro-img {
    position: relative;
}
section.home-list h5 span{
    font-weight: 600;
    font-size: var(--f22);
    color: #8CC63F;
}

section.home-list .featured span {
  font-weight: 500;
    font-size: var(--f18);
    color: #5383fe;
    background-color: var(--white-color);
    padding: var(--p4) var(--p10);
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
section.home-list .featured{
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 1;
    /* display: none; */
}

section.home-list .how-we-value-heading  h2 {
   padding-top: var(--p10);
    color: var(--black-color);
    font-weight: 500;
    margin-bottom: var(--m10);
    font-size: var(--f48);
}

section.home-list .how-we-value-heading h6{
line-height: 1.3;
    color: var(--primary-color);
    letter-spacing: 0.03em;
    font-size: var(--f22);
    font-weight: 600;
    margin-bottom: 0px;
}
section.home-list .filter{
    display: none;
    justify-content: center;
    align-items: center;
}
section.home-list .filter .filter-c{
    display: flex;
    gap: 20px;
    width: 60%;
    justify-content: center;
    padding: var(--p40) 0;
} 
section.home-list .filter .filter-c li{
    cursor: pointer;
}
section.home-list .filter .filter-c .active{
    background: rgb(53, 57, 69);
    border-radius: 15px;
    padding: var(--p5) var(--p15);
    color: var(--white-color);
    font-weight: 400;
}
.how-we-value-heading {
    text-align: center;
    margin-bottom: 50px;
}


.pro-img {
    position: relative;
    overflow: hidden;
}

.pro-img img {
    width: 100%;
    height: auto;
    display: block;
}

.pro-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2d6b2bab; /* Change color & opacity as needed */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.pro-img:hover::after {
    opacity: 1;
}





















