.Blog-details{
    padding: var(--p60) var(--p12);
}
.breadcrumb{
    padding-left:var(--p1);
}
section.Blog-details .container {
    display: flex;
}
section.Blog-details img {
    width: 450px;
    max-width: 45%;
    margin-right: 20px;
   max-height: 400px;
    object-fit: cover;
    height:100%;
}
section.Blog-details .container div {
    width: 100%;
}