.head-sec {
    text-align: center;
    margin-bottom: var(--m40);
}
.head-sec h2{
    margin-bottom: 0px;
}
.head-sec p {
    font-size: var(--f12);
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: var(--m5);
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.7;
}
section.service-banner {
    min-height: 33vh;
    /* height: 720px; */
    /* background-color: #fff; */
    /* background: url(../images/service-banner.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* position: relative; */
    /* padding-bottom: 8vw; */
    /* padding-top: 0; */
    /* clip-path: ellipse(112% 56% at 23% 39%); */
    padding: 0;
}
section.service-banner .service-overlay {
    background: #000;
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section.service-banner .container{position: relative;display: flex;align-items: center;justify-content: center;height: 100%;}
section.service-banner p{
    color: var(--white-color);
    font-size: 24px;
    margin-bottom: 0;
    width: 100%;
}

section.events-list {
    padding: 60px 12px;
}
section.events-list .event-content {
    background: #eaf6ef;
    padding: 5px;
    text-align: center;
    height: 100%;
}
section.events-list .col-2{
    padding-left: 10px;
    padding-right: 10px;
}
section.events-list .event-content img{
    width: 105px;
    height: 105px;
    margin-bottom: 4%;
    object-fit: cover;
    border-radius: 100%;
}
section.events-list .event-content h3{
    font-size: 19.2px;
    font-weight: 500;
    margin-bottom: 0;
}
section.events-list .event-content p{
    margin-bottom: 0;
}
section.plan-event{
    background: var(--black-color);
}
section.plan-event .col-7{
    padding-right: 60px;
}
section.plan-event video{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
section.plan-event h3{
    font-size: var(--f35);
    color: var(--white-color);
    margin-bottom: 30px;
    text-decoration: underline;
    text-decoration-color: #fff;
}
section.plan-event p{
    color: var(--white-color);
}
section.plan-event a.main-btn{
    color: var(--white-color);
    width: 360px;
    text-align: center;
    height: 50px;
    margin-top: var(--m30);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid white;
    border-radius: 50px;
    letter-spacing: 5px;
    font-weight: 400;
}
section.plan-event .col-5{
display: flex;
align-items: center;
justify-content: center;
}

#service-slider img{
    object-fit: cover;
    width: 100%;
    height: 500px;
}
section.gallery-section {
    background: #fff;
    padding-bottom: 15px;
}
section.gallery-section .owl-nav button.owl-prev, section.gallery-section .owl-nav button.owl-next{
padding: 8px !important;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    pointer-events: all;
    opacity: .75;
    transition: opacity 600ms cubic-bezier(.4,0,.2,1);
    background: var(--white-color);
    border-radius: .15em !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

}
section.gallery-section .owl-nav button.owl-next{
left: auto;
right: 15px;
    }
section.gallery-section .owl-nav button.owl-prev i, section.gallery-section .owl-nav button.owl-next i{
    font-size: 16px;
}
section.gallery-section .owl-nav button.owl-prev:hover, section.gallery-section .owl-nav button.owl-next:hover{
    opacity: 1;
}

section.testimonial h2 {
text-align:center;
  margin-bottom:30px;
}
section.testimonial h2 span {
color:var(--secondary-color);
}

section.testimonial .testi-carou {
position:relative;
}


section.testimonial .testi-disp{
display:flex; 
  justify-content:space-between;
}

section.testimonial .testi-disp-ant {
display:flex; 
  justify-content:space-between;
align-items:center;
  margin-top:10px;
}

.owl-carousel .item {
  border-radius: 15px;
  margin-right: 1px;
}

.card {
  border-radius: 20px;
}

.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag .owl-item img {
    display: block;
    width: 75px;
    height: 75px;
}

.owl-nav {
    width: 100%;
    display: flex;
    align-items: center;
    /*justify-content: space-between;
      position: absolute;
    top: 50%;
  left:50%;
      transform: translate(-50%, -50%);*/
}

/*span.btn.btn-outline-danger.rounded-circle.px-2.py-1 {
    width: 35px;
    height: 35px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

span.btn.btn-outline-danger.rounded-circle.px-2.py-1:hover {
border-color: var(--secondary-color);
  color: var(--white-color);
  background:var(--secondary-color);
}
*/
.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-prev{
  	width: 45px;
    height: 45px;
    font-size: 45px;
  border:1px solid var(--secondary-color);
  color: var(--secondary-color);
  background:var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: -6%;
    transform: translateY(-50%);
}

.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-next{
  	width: 45px;
    height: 45px;
    font-size: 45px;
  border:1px solid var(--secondary-color);
  color: var(--secondary-color);
  background:var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: -6%;
    transform: translateY(-50%);
}




.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-next:hover,
.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-prev:hover {
  border-color: var(--secondary-color);
  color: var(--white-color);
  background:var(--secondary-color);
}

span.btn.btn-outline-danger.rounded-circle.px-2.py-1 {
    border: none;
  color: var(--secondary-color);
      font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

span.btn.btn-outline-danger.rounded-circle.px-2.py-1:hover{
background:transparent;
  color: var(--white-color);
}

.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-next,
.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-prev {
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
}

.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-next:hover, 
.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-prev:hover {
    color: var(--white-color) !important;
  background:var(--secondary-color);
}
.more-testi {
margin-top:40px;
      text-align: center;
}

p.mt-3.text-muted {
    font-size: 18px;
}

/*.testi-carou {
  width: 90%;
  margin: auto;
}*/

 .upper-head {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: var(--m50);
}


.activities .overlay-content:hover {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: #2d6b2bab;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: var(--p30);

}

 .activities .overlay-content

 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: #2d6b2bab;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: var(--p30);
    display: none;
}
 .activities .activites-image {
    position: relative;
}

.overlay-content p{
  color:white;
}

 .activities .activites-image a:hover .overlay-content {
    display: flex;
}

 .activities img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}



 .activities h4 a{
    font-size: var(--f20);
    margin-top: var(--m20);
    font-weight: 600;
}


.activities .row {
    gap: 40px 0;
}

.service-para {
  display: flex;
    align-items: center;
    justify-content: end;
    gap: 80px;
}


.service-para h1{
  font-size:92px;
}

.service-banner video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banner-content h1{
  color: var(--white-color);
}


.banner_text{
      position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
}


.service-banner .main-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}


section.testimonial h2 {text-align:center;margin-bottom:30px;}
section.testimonial h2 span {
color:var(--secondary-color);
}

section.testimonial .testi-carou {
position:relative;
}


section.testimonial .testi-disp{
display:flex; 
  justify-content:space-between;
}

section.testimonial .testi-disp-ant {
display:flex; 
  justify-content:space-between;
align-items:center;
  margin-top:10px;
}

.owl-carousel .item {
  border-radius: 15px;
  margin-right: 1px;
}

.card {
  border-radius: 20px;
  height: auto;
}

.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag .owl-item img {
    display: block;
    width: 75px;
    height: 75px;
}

.owl-nav {
    width: 100%;
    display: flex;
    align-items: center;
    /*justify-content: space-between;
      position: absolute;
    top: 50%;
  left:50%;
      transform: translate(-50%, -50%);*/
}

/*span.btn.btn-outline-danger.rounded-circle.px-2.py-1 {
    width: 35px;
    height: 35px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

span.btn.btn-outline-danger.rounded-circle.px-2.py-1:hover {
border-color: var(--secondary-color);
  color: var(--white-color);
  background:var(--secondary-color);
}
*/
.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-prev{
  	width: 45px;
  	height: 45px;
  	font-size: 45px;
  	border:1px solid var(--secondary-color);
  	color: var(--secondary-color);
  	background:var(--white-color);
  	display: inline-flex;
  	align-items: center;
  	justify-content: center;
  	position: absolute;
  	top: 50%;
  	left: -2%;
  	transform: translateY(-50%);
}

.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-next{
  	width: 45px;
  	height: 45px;
  	font-size: 45px;
  	border:1px solid var(--secondary-color);
  	color: var(--secondary-color);
  	background:var(--white-color);
  	display: inline-flex;
  	align-items: center;
  	justify-content: center;
  	position: absolute;
  	top: 50%;
  	right: -2%;
  	transform: translateY(-50%);
}




.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-next:hover,
.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-prev:hover {
  border-color: var(--secondary-color);
  color: var(--white-color);
  background:var(--secondary-color);
}

span.btn.btn-outline-danger.rounded-circle.px-2.py-1 {
    border: none;
  color: var(--secondary-color);
      font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

span.btn.btn-outline-danger.rounded-circle.px-2.py-1:hover{
background:transparent;
  color: var(--white-color);
}

.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-next,
.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-prev {
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
}

.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-next:hover, 
.owl-carousel.owl-theme.testi-owl.owl-loaded.owl-drag button.owl-prev:hover {
    color: var(--white-color) !important;
  background:var(--secondary-color);
}

.owl-carousel .item {
    border-radius: 15px;
    margin-right: 1px;
}

.card {
    border-radius: 20px;
    height: 300px;
}


	.ser-para.short {
  max-height: 150px; /* Adjust this height as needed */
  overflow: hidden;
  position: relative;
}

.toggle-btn {
  color: #578955;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  display: none;
}

p.mt-3.text-muted {
    font-size: 18px;
}



