
@media (max-width: 980px) {
 section.host-form{
    max-width: 100%;
    margin: auto;
    padding-top: 90px;
}
}

@media (max-width: 540px) {
section.host-form form .check-list div, section.host-form form .budget-list div, section.host-form form .terms div {
    width: 100%;
}

}



